.card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media(max-width: 948px) {
    .card-wrapper {
        grid-template-columns: auto;
    }
}

/* @media(max-width: 624px) {
    .card-wrapper {
        grid-template-columns: repeat(1, minmax(250px, 300px));
    }
} */