.item {
    display: grid;
    grid-template-columns: 1fr 80px;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
    border-bottom: 1px solid var(--color-gray-2);
}

.item-col-1 {
    display: grid;
    grid-template-columns: 50px 85px 100px;
    align-items: center;
    height: 100%;
    gap: 0.75rem;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    line-height: 0.1;
}

.name {
    color: var(--color-gray-8);
}

.item-number {
    color: var(--color-gray-4);
    font-weight: bold;
    font-style: italic;
}

.item-col-1>img {
    width: 85px;
    height: 55px;
    object-fit: cover;
    border-radius: 6px;
}

.item-col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
}

.price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-gray-8);
}

.final-price {
    font-size: 19px;
    font-weight: 600;
    color: var(--color-green-1);
}

.unit-price {
    font-size: 15px;
    font-weight: 200;
    text-decoration: line-through;
    color: var(--color-gray-8);
}

.inventory {
    color: var(--color-gray-8);
}