.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 300px;
}

.image-wrapper {
    width: 100%;
    height: 100%;
}

.image-wrapper img {
    width: 100%;
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
}

.details {
    color: var(--color-gray-8);
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr auto;
}

.details-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.details-texts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 22px;
}