.container {
    border: 1px solid var(--color-gray-2);
    margin: 2rem 0;
    border-radius: 6px;
}

.row {
    border-bottom: 1px solid var(--color-gray-2);
    padding: 1.2rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex;
    flex-wrap: wrap;
}

p {
    color: var(--color-gray-8);
    font-size: 15px;
}

p>span {
    color: var(--color-gray-9);
    font-weight: bold;
    font-size: 1.1rem;
}

.actions {
    padding: 1.2rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    row-gap: 1rem;

}

.status {
    padding: 0.5rem 0.75rem;
    text-transform: capitalize;
    border-radius: 999px;
}

.received {
    background-color: #757575;
    color: var(--color-gray-1);
}

.posted {
    background-color: #42A5F5;
    color: var(--color-gray-0);
}

@media (max-width: 470px) {
    .actions {
        justify-content: center;
    }
}